

@media (min-width: 1400px){


.aa{
    display: flex;
  justify-content: center;
  height:100px;
  width: auto;
 
}


.bb {
    color:rgb(255, 221, 196);
    text-shadow: 
        1px 1px 0px #e63946, 
        2px 2px 0px #f77f00, 
        3px 3px 0px #fcbf49, 
        4px 4px 0px #a8dadc, 
        5px 5px 0px #457b9d;
        
            
}
.cc{
    color: rgba(255, 221, 196, 0.788);
    display: flex;
     justify-content: center;
     background-color: #457b9d;
     position: relative; top: -10px;
     border-radius: 50%;
     
}
.dd{
    background-color: black;
    height: 100%;
    width: 100%;
}
.zz{
    height: auto;
    width: auto;
}
.gg{
    display: flex;
    justify-content: center;
    
  
}
.kk{
    margin-top: 150px;
    background-color: aliceblue;
    height: 60px;
    width: auto;
   
}
pre{
    transform: scale(1.5)
}
button{
    background-color: #ffffff;
}

}


@media (max-width: 1000px){
    .aa{
    display: flex;
  justify-content: center;
  height:100px;
  width: auto;
 
}


.bb {
    color:rgb(255, 221, 196);
    text-shadow: 
        1px 1px 0px #e63946, 
        2px 2px 0px #f77f00, 
        3px 3px 0px #fcbf49, 
        4px 4px 0px #a8dadc, 
        5px 5px 0px #457b9d;
        
            
}
.cc{
    color: rgba(255, 221, 196, 0.788);
    display: flex;
     justify-content: center;
     background-color: #457b9d;
     position: relative; top: -10px;
     border-radius: 50%;
     
}
.dd{
    background-color: black;
    height: 100%;
    width: 100%;
}
.zz{
    height: auto;
    width: auto;
}
.gg{
    display: flex;
    justify-content: center;
    
  
}
.kk{
    margin-top: 150px;
    background-color: aliceblue;
    height: 60px;
    width: auto;
   
}
pre{
    transform: scale(1.5)
}
button{
    background-color: #ffffff;
}
}