@media (max-width: 768px){
pre{
display:flex;
justify-content:center;
color:antiquewhite;
font-size:2rem;
margin-top:50px;
}
}

@media (min-width:769px){
pre{
display:flex;
justify-content:center;
color:antiquewhite;
font-size:3rem;
margin-top:100px;
}
}